# 🔹 Python кеш-файли
__pycache__/
*.py[cod]
*.pyo

# 🔹 Тестові звіти
flake8-report/
pytest-report.html

# 🔹 Віртуальне середовище (якщо воно в проєкті)
venv/
.env/
*.env

# 🔹 Конфіг середовища IDE (VSCode, PyCharm тощо)
.vscode/
.idea/

# 🔹 Логи, тимчасові файли
*.log
*.tmp

# 🔹 Системне (macOS, Windows)
.DS_Store
Thumbs.db
